*{
    margin: 0px;
    padding: 0px;
}
header{
    display: flex;
    justify-content:left;
    align-items: center;
    padding: 0 10rem;
}

a{
    align-items:flex-start;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 0 0.1rem;

}

nav > a {
    margin-right: 1rem;
    }

.clever {
    display: flex;
    align-items:center;
    padding: 0 4rem;
    }

.iconos {
        display: flex;
        align-items:center;
        padding: 0 4rem;
        }